<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>
            NDX Hackathon
        </title>
        <link href="assets/styles/jsplumb.css" rel="stylesheet" type="text/css"/>
        <link href="styles/bootstrap.min.css" rel="stylesheet"/>
        <link href="assets/styles/ngDialog.min.css" rel="stylesheet"/>
        <link href="assets/styles/ngDialog-theme-default.min.css" rel="stylesheet"/>
        <link href="styles/styles.css" rel="stylesheet"/>
        <link href="assets/styles/tree.css" rel="stylesheet"/>
        <link href="assets/styles/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/scripts/ui-grid/ui-grid.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="MainCtrl">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header" draggable="true">
                    <a class="navbar-brand" href="#">
                        NDX Hackathon
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-default" ng-click="showJson()" style="padding-top: 10px;">
                            {{!jsonview.json ? 'Publish JSON' : 'Show Canvas'}}
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="loading" id="loader" ng-show="loaderMessage">
                <span>
                    {{loaderMessage}}
                </span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="padding:10px;margin-top:30px;background:white;border-radius:5px;min-height:550px">
                        <!-- <div class="col-md-2">
                        <div data-angular-treeview="true" data-tree-id="mytree" data-tree-model="roleList"
                            data-node-id="roleId" data-node-label="roleName" data-node-children="children">
                        </div>

                    </div> -->
                        <div class="col-md-4 treeNode">
                            <ol class="tree">
                                <li ng-repeat="(key, value) in table.list.schemaDefinition">
                                    <label class="toUpper" for="{{key}}">
                                        {{key}}
                                    </label>
                                    <input checked="" id="{key}" type="checkbox"/>
                                    <ol>
                                        <li class="file toUpper" ng-repeat="(k, v) in value">
                                            <label class="toUpper" for="{{k}}">
                                                {{k}}
                                                <a cls="btn btn-primary" ng-click="table.addJoin()" ng-if="k==='joins'">
                                                    <i aria-hidden="true" class="fa fa-plus">
                                                    </i>
                                                </a>
                                                <a cls="btn btn-primary" ng-click="table.addTable()" ng-if="k==='tables'">
                                                    <i aria-hidden="true" class="fa fa-plus">
                                                    </i>
                                                </a>
                                                <a cls="btn btn-primary" ng-click="table.openDimensionDetails()" ng-if="k =='dimensions'">
                                                    <i aria-hidden="true" class="fa fa-plus">
                                                    </i>
                                                </a>
                                                <a cls="btn btn-primary" ng-click="table.addFacts()" ng-if="k =='facts'">
                                                    <i aria-hidden="true" class="fa fa-plus">
                                                    </i>
                                                </a>
                                                <a cls="btn btn-primary" ng-click="table.openPopup(value, k)">
                                                    <i aria-hidden="true" class="fa fa-external-link">
                                                    </i>
                                                </a>
                                            </label>
                                            <input checked="" id="{{k}}" type="checkbox"/>
                                            <ol ng-if="k =='tables'">
                                                <li class="file toUpper" ng-repeat="item in v">
                                                    <label class="toUpper" for="{{item.tableName}}">
                                                        {{item.tableName}}
                                                        <a cls="btn btn-primary" ng-click="table.openTableDetails($index)">
                                                            <i aria-hidden="true" class="fa fa-external-link">
                                                            </i>
                                                        </a>
                                                        <a cls="btn btn-primary" ng-click="table.removeTable($index)">
                                                            <i aria-hidden="true" class="glyphicon glyphicon-remove-circle text-danger">
                                                            </i>
                                                        </a>
                                                        <a cls="btn btn-primary" ng-click="table.addToCanvas($index)">
                                                            <i aria-hidden="true" class="fa fa-arrow-right">
                                                            </i>
                                                        </a>
                                                    </label>
                                                    <input id="{{item.tableName}}" type="checkbox"/>
                                                    <ol>
                                                        <li ng-repeat="col in item.columns">
                                                            <span>
                                                                {{col.columnName}}
                                                            </span>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                            <ol ng-if="k =='joins'">
                                                <li class="file toUpper" ng-repeat="item in v">
                                                    <label for="{{item.joinName}}">
                                                        {{item.joinName}}
                                                        <a cls="btn btn-primary" ng-click="table.openJoinDetails($index)">
                                                            <i aria-hidden="true" class="fa fa-external-link">
                                                            </i>
                                                        </a>
                                                    </label>
                                                    <input id="{{item.joinName}}" type="checkbox"/>
                                                    <ol>
                                                        <li ng-repeat="join in item.joinColumns">
                                                            <span>
                                                                {{item.tableFrom}}.{{join.columnFrom}} - {{item.tableTo}}.{{join.columnTo}}
                                                            </span>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                            <ol ng-if="k =='dimensions'">
                                                <li class="file toUpper" ng-repeat="item in v">
                                                    <label for="{{item.dimensionName}}">
                                                        {{item.dimensionName}}
                                                        <a cls="btn btn-primary" ng-click="table.openDimensionDetails($index)">
                                                            <i aria-hidden="true" class="fa fa-external-link">
                                                            </i>
                                                        </a>
                                                    </label>
                                                    <input id="{{item.dimensionName}}" type="checkbox"/>
                                                    <ol>
                                                        <li class="file toUpper">
                                                            <label for="atributes">
                                                                Attributes
                                                            </label>
                                                            <input id="attributes" type="checkbox"/>
                                                            <ol>
                                                                <li ng-repeat="attr in item.attributes">
                                                                    <span>
                                                                        {{attr.attributeName}}
                                                                    </span>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                        <li class="file toUpper">
                                                            <label for="hierarchies">
                                                                Hierarchies
                                                            </label>
                                                            <input id="hierarchies" type="checkbox"/>
                                                            <ol>
                                                                <li class="file toUpper" ng-repeat="attr in item.hierarchies">
                                                                    <label for="hierarchies">
                                                                        {{attr.hierarchyName}}
                                                                    </label>
                                                                    <input id="hierarchies" type="checkbox"/>
                                                                    <ol>
                                                                        <li ng-repeat="level in attr.levels">
                                                                            <span>
                                                                                {{level.levelAttribute}}
                                                                            </span>
                                                                        </li>
                                                                    </ol>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                            <ol ng-if="k =='facts'">
                                                <li class="file toUpper" ng-repeat="item in v">
                                                    <label for="{{item.factName}}">
                                                        {{item.factName}}
                                                        <a cls="btn btn-primary" ng-click="table.openFactDetails($index)">
                                                            <i aria-hidden="true" class="fa fa-external-link">
                                                            </i>
                                                        </a>
                                                    </label>
                                                    <input id="{{item.factName}}" type="checkbox"/>
                                                    <ol>
                                                        <li ng-repeat="fk in item.keys">
                                                            <span>
                                                                {{fk.keyDimension}} - {{fk.keyAttribute}}
                                                            </span>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-8 dropArea" ng-show="!jsonview.json">
                            <js-plumb-canvas on-connection="onConnection" x="pos_x" y="pos_y" zoom="zoomlevel">
                                <ng-include ng-repeat="state in table.tableObjects track by $index" src="'views/qTable.html'">
                                </ng-include>
                            </js-plumb-canvas>
                        </div>
                        <div class="col-md-8 jsonArea" ng-show="jsonview.json">
                            <pre>{{table.list.schemaDefinition | json}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/scripts/jquery.min.js">
        </script>
        <script src="assets/scripts/jquery-ui.min.js">
        </script>
        <script src="assets/scripts/bootstrap.min.js">
        </script>
        <script src="assets/scripts/angular.min.js">
        </script>
        <script src="assets/scripts/angular-resource.min.js">
        </script>
        <script src="assets/scripts/angular-animate.js">
        </script>
        <script src="assets/scripts/underscore-min.js">
        </script>
        <script src="assets/scripts/ui-bootstrap.min.js">
        </script>
        <script src="assets/scripts/ui-bootstrap-tpls.min.js">
        </script>
        <script src="assets/scripts/ngDialog.min.js">
        </script>
        <script src="assets/scripts/tree.js">
        </script>
        <script src="assets/scripts/jquery.jsPlumb-1.6.2-min.js" type="text/javascript">
        </script>
        <script src="assets/scripts/ngStorage.js" type="text/javascript">
        </script>
        <script src="assets/scripts/ui-grid/ui-grid.min.js" type="text/javascript">
        </script>
        <script src="scripts/main.js">
        </script>
        <script src="scripts/directive.js">
        </script>
        <script src="scripts/popTable.js">
        </script>
        <script src="scripts/addTable.js">
        </script>
    </body>
</html>
