<div class="modal-header">
    <h5 class="modal-title" id="modal-title">
        Add Join
    </h5>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="joinName">
                Name
            </label>
            <div class="col-sm-10">
                <input class="form-control" id="joinName" ng-model="join.joinName" placeholder="Join Name" type="text">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="joinCardinality">
                Cardinality
            </label>
            <div class="col-sm-10">
                <input class="form-control" id="joinCardinality" ng-model="join.joinCardinality" placeholder="Join Cardinality" type="text">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="joinActive">
                Active
            </label>
            <div class="col-sm-10">
                <input class="form-control" id="joinActive" ng-model="join.joinActive" placeholder="Join Active" type="text">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="tableFrom">
                Table From
            </label>
            <div class="col-sm-10">
                <select class="form-control" id="tableFrom" name="tableFrom" ng-model="join.tableFrom" ng-change="selectedFromTable(join.tableFrom)">
                    <option value="" selected="selected" ng-if="!currentJoin">
                        --SELECT--
                    </option>
                    <option ng-repeat="table in tables" value="{{table.tableName}}" ng-selected="table.tableName === join.tableFrom">
                        {{table.tableName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="tableTo">
                Table To
            </label>
            <div class="col-sm-10">
                <select class="form-control" id="tableTo" name="tableTo" ng-model="join.tableTo" ng-change="selectedToTable(join.tableTo)">
                    <option value="" selected="selected" ng-if="!currentJoin">
                        --SELECT--
                    </option>
                    <option ng-repeat="table in tables" value="{{table.tableName}}" ng-selected="table.tableName === join.tableTo">
                        {{table.tableName}}
                    </option>
                </select>
            </div>
        </div>
    </form>
    <div>
        <table class="table">
              <tr ng-repeat="col in join.joinColumns track by $index">
                  <td class="center">
                      {{join.joinColumns.length - 1 != $index ? col.columnFrom : ''}}
                      <select class="form-control" id="joinColsFrom" name="joinColsFrom" ng-model="join.joinColumns[$index].columnFrom" ng-if="join.joinColumns.length - 1 === $index">
                          <option value="" ng-if="!currentJoin">
                              --SELECT--
                          </option>
                          <option ng-repeat="column in fromCols" ng-value="{{column.columnName}}">
                              {{column.columnName}}
                          </option>
                      </select>
                  </td>
                  <td style="width: 5%">To</td>
                  <td class="center">
                      {{join.joinColumns.length - 1 != $index ? col.columnTo : ''}}
                      <select class="form-control" id="joinColsTo" name="joinColsTo" ng-model="join.joinColumns[$index].columnTo" ng-if="join.joinColumns.length - 1 === $index">
                          <option value="" ng-if="!currentJoin">
                              --SELECT--
                          </option>
                          <option ng-repeat="column in toCols" ng-value="{{column.columnName}}">
                              {{column.columnName}}
                          </option>
                      </select>
                  </td>
                  <td class="center" style="width: 15%">
                      <i class="glyphicon glyphicon-minus-sign pull-right" ng-click="removeJoin($index)"></i>
                      <i class="glyphicon glyphicon-plus-sign pull-right" ng-click="addNewJoin()" ng-if="join.joinColumns.length - 1 === $index"></i>
                  </td>
              </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">
        Save
    </button>
</div>
