<js-plumb-object ng-style="{ 'left':state.x, 'top':state.y }" class="plumbObj" state-object="state">
    <div class="qtable">
        <div class="table_header">
            <label>
                {{state.tableName}}
            </label>
            <span>
                <a cls="btn btn-primary" ng-click="table.close($index)">
                    <i aria-hidden="true" class="fa fa-times closeBtn">
                    </i>
                </a>
            </span>
        </div>
        <div class="table_body">
            <ul>
                <li ng-repeat="col in state.columns">
                    <input name="item_1" type="checkbox">
                        {{col.columnName}}
                    </input>
                </li>
            </ul>
        </div>
        <div class="table_footer">
            <label>
                Footer
            </label>
        </div>
    </div>
    <div style="position:absolute; top:50%; right:0px;">
        <js-plumb-endpoint ng-repeat="endpoint in state.sources" anchor="RightMiddle" uuid="{{endpoint.uuid}}" settings="sourceEndpointStyle">
            <js-plumb-connection ng-repeat="connection in endpoint.connections" ng-model="connection">
                    <div style="background-color:#ccc; border-radius:20px; width:40px; text-align:center; height:40px; position:relative; top:-20px; left:-20px;">
                        <span style="margin-top:5px; color:#3860ff; font-size:25px;" title="Transition To {{connection.uuid}}"></span>
                    </div>
            </js-plumb-connection>
        </js-plumb-endpoint>
    </div>
    <div style="position:absolute; top:50%; left:0px;">
        <js-plumb-endpoint ng-repeat="endpoint in state.targets" anchor="LeftMiddle" uuid="{{endpoint.uuid}}" settings="targetEndpointStyle"></js-plumb-endpoint>
    </div>
</js-plumb-object>
