<div class="modal-header">
    <h5 class="modal-title" id="modal-title">
        Table : {{table.tableName}}
        <i class="glyphicon glyphicon-plus-sign pull-right" ng-click="addNewRow()" style="cursor: pointer"></i>
        <i class="glyphicon glyphicon-edit pull-right" ng-click="edit()" style="margin-right: 10px; cursor: pointer"></i>
    </h5>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <div ui-grid="gridOptions" ui-grid-edit class="grid"></div>
    </div>
</div>
<!-- <div class="modal-footer"></div> -->
